[coverage:run]
source=
    /home/mdalag/Documents/epam_task/FinalTaskRssParser
omit=
    /home/mdalag/Documents/epam_task/FinalTaskRssParser/final_task/tests/*
    /home/mdalag/Documents/epam_task/FinalTaskRssParser/final_task/__init__.py
    /home/mdalag/Documents/epam_task/FinalTaskRssParser/final_task/rss_reader/__init__.py
    /home/mdalag/Documents/epam_task/FinalTaskRssParser/final_task/setup.py
[report]
exclude_lines =